# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio cache
.vs/

# OS generated
.DS_Store
Thumbs.db

# Claude generated
.claude/

#Tools
Resources/
Assets/com.IvanMurzak
Assets/Resources/AI-Game-Developer-Config.json
com.IvanMurzak.Unity.MCP.Installer.csproj
com.IvanMurzak.Unity.MCP.Installer.Tests.csproj
.mcp.json

#Meta files
Assets/com.IvanMurzak.Unity.MCP.Installer/Editor/Meta/
Assets/com.IvanMurzak.Unity.MCP.Installer/Runtime/Meta/
Assets/com.IvanMurzak.Unity.MCP.Installer/Tests/Meta/
*.meta

#Character Sprite Maker
Assets/SmallScaleInt/
Packages/com.unity.package-validation-suite/
Packages/com.ivanmurzak.unity.mcp